<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WcfCepService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <appSettings>
    <!--Habilitado = S Desabilitado = N-->
    <add key="ProxyHabilitado" value="S"/>
    <add key="ProxyUserName" value="37493"/>
    <add key="ProxyPassword" value="jacare"/>
    <add key="ProxyAddress" value="http://10.15.20.253:3128"/>

    <!--Não alterar esses valores-->
    <add key="CepServiceUsername" value="danielbhbr"/>
    <add key="CepServicePassword" value="g$m1174"/>
  </appSettings>
  <applicationSettings>
    <WcfCepService.Properties.Settings>
      <setting name="WcfCepService_ByJgCep_CEPService" serializeAs="String">
        <value>http://www.byjg.com.br/site/webservice.php/ws/cep</value>
      </setting>
    </WcfCepService.Properties.Settings>
  </applicationSettings>
</configuration>
